@import "../../../../scss/mixins";

:host {
  form {
    @include flex-center("center");
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem 3rem;

    h1 {
      font-size: 25px;
      text-align: center;
    }

    mat-form-field {
      margin: 10px 0;
    }

    mat-error {
      font-size: 14px;
      font-weight: 600;
    }

    & > mat-error {
      margin-bottom: 20px;
    }
  }

  button {
    width: 100%;
    padding: 20px 0;
  }
}
