<div>
  <span *ngIf="!editing">{{ task.name }}</span>
  <input
    type="text"
    *ngIf="editing === true"
    [formControl]="newNameControl"
    (keyup.enter)="editName()"
    (keyup.esc)="closeEditingMode()"
    id="{{ task._id }}"
  />
</div>

<div class="actions">
  @if (!editing) {
  <button class="safe" (click)="changeToEditingMode($event)">
    <span class="material-symbols-outlined"> edit </span>
  </button>

  <button class="warn" (click)="deleteTask.emit()">
    <span class="material-symbols-outlined"> delete </span>
  </button>
  } @else {
  <button class="safe" [disabled]="!newNameIsValid" (click)="editName()">
    <span class="material-symbols-outlined"> check </span>
  </button>
  <button class="warn" (click)="closeEditingMode()">
    <span class="material-symbols-outlined"> close </span>
  </button>
  }
</div>
