@import "./scss/varibles";

header {
  text-align: center;
  background: $blue;
  color: white;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2rem;
  cursor: default;

  div {
    display: flex;
    align-items: center;

    span:nth-child(1) {
      margin-right: 10px;
      font-size: 18px;
    }

    span:nth-child(2) {
      font-size: 30px;
    }
  }
}
