@import "../../../../scss/mixins";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    width: 80%;
    margin-top: 20px;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  }

  mat-expansion-panel:not(.filter-tasks) {
    padding: 0 1.5rem !important;

    form {
      @include flex-center(center);
      width: 95%;
      margin: auto;

      div {
        &,
        mat-form-field {
          width: 100%;
        }

        mat-form-field {
          font-size: 20px;
        }
      }

      button {
        margin-left: 15px;
        height: 56px;
      }
    }
  }

  .filter-tasks {
    padding: 0 1.5rem;

    &.mat-expanded {
      padding: 1rem 1.5rem;
    }

    form {
      @include flex-center(center, space-between);
      flex-wrap: wrap;

      & > * {
        width: 45%;
        margin: 1rem 0;
      }

      .name mat-form-field {
        width: 100%;
      }

      .order-by {
        @include flex-center(center, space-between);

        &:not(.active) {
          :first-child {
            width: 100%;
          }

          :last-child {
            display: none;
          }
        }

        &.active > * {
          width: 45%;
          display: inline;
        }
      }

      button {
        margin: 1.5rem auto;
      }
    }
  }

  mat-error {
    font-weight: 600;
  }
}
