@import "../../scss/mixins";
@import "../../scss/variables";

@keyframes shakeError {
  20% {
    transform: translateX(20px);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.error {
  animation: shakeError 0.8s;
  transition: transform 0.8s;
  box-shadow: 0px 0px 6px 4px rgba(255, 0, 0, 0.603) !important;

  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-line-ripple::after {
    border-bottom-color: var(--mdc-filled-text-field-error-label-text-color);
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-floating-label--float-above {
    color: var(--mdc-filled-text-field-error-label-text-color);
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    caret-color: var(--mdc-filled-text-field-error-label-text-color);
  }
}

header {
  position: absolute;
}

ta-login,
ta-signup {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  position: relative;

  mat-error {
    font-size: 20px;
    font-weight: 600;
  }

  &,
  form {
    @include flex-center(center);
    flex-direction: column;
  }

  form {
    width: 25%;
    border-radius: 10px;
    padding: 1.5rem 3rem;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 28%);

    h1 {
      font-size: 25px;
      text-align: center;
    }

    mat-form-field {
      width: 100%;
      margin-top: 20px;

      &.password .mat-mdc-form-field-infix {
        display: flex;

        button {
          padding: 0;
          border: none;
          cursor: pointer;
        }
      }
    }

    & > span {
      text-align: center;
      margin-top: 20px;
      font-weight: 500;

      a {
        color: $cyan;
      }
    }

    button[type="submit"] {
      width: 100%;
      padding: 20px 0;
      margin-top: 20px;

      &:not([disabled]) {
        color: #000000b5;
        background-color: $cyan;
      }
    }
  }
}
