/* You can add global styles to this file, and also import other style files */
@use "@ngneat/hot-toast/src/styles/styles.scss";
@import "./app/scss/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align::before {
  height: 0;
}

* mat-form-field .mdc-text-field--filled {
  &,
  * {
    background: none !important;
  }
}

mat-form-field:not(.mat-form-field-invalid) {
  .mat-expansion-panel .mat-expansion-panel-header:hover {
    background: none !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    .mdc-line-ripple::after {
      border-bottom-color: $cyan !important;
    }

    &.mdc-text-field--focused .mdc-floating-label--float-above {
      color: $cyan !important;
    }

    .mdc-text-field__input {
      caret-color: $cyan !important;
    }
  }
}
